<?xml version="1.0"?>
<Reglages>
	<Evenement>
		<Nom>VYV-solidarites19</Nom>
		<Annee>2019</Annee>
		<Mois>5</Mois>
		<Jour>21</Jour>
		<Heure>9</Heure>
		<Minute>6</Minute>
	</Evenement>
	<Fichiers>
		<Log_fichier>1</Log_fichier>
		<Questions>
			<Chemin>questions.csv</Chemin>
			<Col_offset>2</Col_offset>
		</Questions>
	</Fichiers>
	<Coordonnees_displays>
		<Principal>
			<position_X>493</position_X>
			<position_Y>73</position_Y>
			<taille_X>934</taille_X>
			<taille_Y>934</taille_Y>
		</Principal>
		<Choix_gauche>
			<position_X>327</position_X>
			<position_Y>357</position_Y>
			<taille_X>519</taille_X>
			<taille_Y>519</taille_Y>
		</Choix_gauche>
		<Choix_droit>
			<position_X>1073</position_X>
			<position_Y>357</position_Y>
			<taille_X>519</taille_X>
			<taille_Y>519</taille_Y>
		</Choix_droit>
		<Resultat>
			<position_X>602</position_X>
			<position_Y>126</position_Y>
			<taille_X>719</taille_X>
			<taille_Y>719</taille_Y>
		</Resultat>
	</Coordonnees_displays>
	<Cameras>
		<Camera_1>0</Camera_1>
		<largeur_1>640</largeur_1>
		<hauteur_1>480</hauteur_1>
		<Camera_2>1</Camera_2>
		<largeur_2>640</largeur_2>
		<hauteur_2>480</hauteur_2>
	</Cameras>
	<Timers>
		<FPS>30</FPS>
		<Defaut>4</Defaut>
		<Compilation>4</Compilation>
		<profil>4</profil>
		<flash>4</flash>
		<countdown>0.5</countdown>
		<Print>4</Print>
		<question>5</question>
	</Timers>
</Reglages>
