<?xml version="1.0"?>
<Reglages>
    <Evenement>
        <Nom>VYV-solidarites19</Nom>
        <Annee>2019</Annee>
        <Mois>5</Mois>
        <Jour>26</Jour>
        <Heure>9</Heure>
        <Minute>54</Minute>
    </Evenement>
    <Fichiers>
        <Log_fichier>1</Log_fichier>
        <Questions>
            <Chemin>questions.csv</Chemin>
            <Col_offset>2</Col_offset>
        </Questions>
    </Fichiers>
    <Coordonnees_displays>
        <Principal>
            <position_X>547</position_X>
            <position_Y>127</position_Y>
            <taille_X>828</taille_X>
            <taille_Y>828</taille_Y>
        </Principal>
        <Choix_gauche>
            <position_X>327</position_X>
            <position_Y>357</position_Y>
            <taille_X>519</taille_X>
            <taille_Y>519</taille_Y>
        </Choix_gauche>
        <Choix_droit>
            <position_X>1073</position_X>
            <position_Y>357</position_Y>
            <taille_X>519</taille_X>
            <taille_Y>519</taille_Y>
        </Choix_droit>
        <Resultat>
            <position_X>686</position_X>
            <position_Y>279</position_Y>
            <taille_X>548</taille_X>
            <taille_Y>548</taille_Y>
        </Resultat>
    </Coordonnees_displays>
    <Cameras>
        <crop_offset_X>372</crop_offset_X>
        <crop_offset_Y>121</crop_offset_Y>
        <crop_largeur>502</crop_largeur>
        <crop_hauteur>479</crop_hauteur>
    </Cameras>
	<Timers>
		<FPS>30</FPS>
		<Defaut>4</Defaut>
		<Compilation>4</Compilation>
		<profil>4</profil>
		<flash>0.2</flash>
		<countdown>0.5</countdown>
		<Print>6</Print>
		<question>5</question>
	</Timers>
    <Ticket>
        <print>0</print>
        <Marge_Gauche>10</Marge_Gauche>
        <Marge_Droite>10</Marge_Droite>
        <Marge_Haut>10</Marge_Haut>
        <Marge_Bas>56</Marge_Bas>
        <Largeur>635</Largeur>
        <Hauteur>635</Hauteur>
        <Marge_Y_texte>35</Marge_Y_texte>
        <Nom_police>sans-serif</Nom_police>
        <Taille_police>15</Taille_police>
    </Ticket>
</Reglages>
